[
    {
      "id": "0001",
      "url": "http://pokt-fullnode",
      "basic_auth": {
        "username": "",
        "password": ""
      }
    },  
    {
      "id": "0021",
      "url": "http://eth-node",
      "basic_auth": {
        "username": "",
        "password": ""
      }
    }  
]