upstream 127.0.0.1 {
      server 127.0.0.1:8082 max_conns=1000;
   }

server {
   add_header Access-Control-Allow-Origin "*";

   listen 8081 ssl;
   listen [::]:8081 ssl;

   ssl on;
    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
    
   access_log /var/log/nginx/reverse-access.log;
   error_log /var/log/nginx/reverse-error.log;


    location ~ ^/v1/client/(dispatch|relay|challenge|sim) {

     proxy_pass http://127.0.0.1;
     add_header Access-Control-Allow-Methods "POST, OPTIONS";
     allow all;
   }

   location = /v1 {
     add_header Access-Control-Allow-Methods "GET";
     proxy_pass http://127.0.0.1;
     allow all;

   }
}